.box{
    text-align: center;
}

.form__input{
    padding: 10px 20px;
}

.span{
    text-align: center;
    display: block;
    font-size: 25px;
    border-radius: 5px;
    padding: 5px 15px;
    /* border: 1px solid #000 ; */
    width: 25%;

    margin: 30px auto ;


}